$color-primary: #34568b;
$color-primary-hover: #fff;
$color-text-dark: #060b35;
$color-text-light: #616070;
$card-width: 200px;
$padding-default: 10px;
$font-roboto: Roboto, sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-size-title: 12px;
$font-size-price: 16px;
$font-size-label: 12px;
$font-size-code: 10px;
$color-border: #e8e8e8;
$nav-link-color: #060b35;
$card-text-hover: #00acdc;
$primary-blue: #00a0ff;
$padding-bottom: 40px;
$media-small: 488px;
$media-medium: 768px;
$media-big: 1024px;
$stars-margin: 24px;
$reviews-margin: 5px;
$star-size: 16px;
$star-margin: 4px;
